<div class="homepage">
  <img src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" class="logo">
  <h1>Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div>

<div class="homepage flex">
  <h1>Welcome to Shopify Theme Development course!</h1>
  <h3>Welcome to Shopify Theme Development course!</h3>
  <h5>Welcome to Shopify Theme Development course!</h5>
  <p>{% render 'homepage-text' %}</p>
</div>